<div>
  <%= link_to 'Demo', demo_path %>
</div>
<div>
  <%= link_to 'Demo2', demo2_path %>
</div>
<div>
  <script src="/gaia/src/taiwan.js"
  city-input="user[city]"
  city-placeholder="自訂placeholder"
  dist-input="user[dist]"
  zipcode-input="user[zipcode]"
  city-value="臺南市"
  dist-value="東區"
  zipcode-prefix="true"
  disable-zipcode="false"
  zipcode-front="true"
  excluded-data="澎湖縣,金門縣,連江縣,琉球鄉,綠島鄉,蘭嶼鄉"
  ></script>
  <input placeholder="address" />
</div>
