<%= link_to 'selects', selects_path %>
<div>
  <script src="https://405f7e21.ngrok.io/selects.js"
  city-input="user[city]"
  dist-input="user[dist]"
  zipcode-input="user[zipcode]"
  city-value="臺南市"
  dist-value="東區"
  zipcode-prefix="true"
  disable-zipcode="false"
  ></script>
</div>
